Flask>=3.1.0
flask-cors>=5.0.0
flask-socketio>=5.4.0
python-socketio>=5.11.0
python-engineio>=4.9.0
eventlet>=0.38.0
opencv-python>=4.11.0
opencv-contrib-python>=4.11.0
Pillow>=11.1.0
numpy>=2.2.0
Werkzeug>=3.1.0
